.navbar ul{
    margin-top: 15px;
    width: 100%;
}
.navbar li{
    display: inline-block;
    text-align: center;
    width: 33%
}
.navbar{
    color: white;
    min-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 99;
}